.navstyle{
    float:left;
    font-family: sans-serif;
    font-size: 12pt;
    color: black;
    padding: 10px;
    margin: 10px;
}

.navstyle:hover{
    color: lightseagreen;
}

.navstyle:active{
    color: lightseagreen;
    font-weight: bold; 
}

.portrait{
    padding: 2%;
    margin: 2%;
    border: 2px dotted black;
    border-radius: 25px;
}

.header{
    font-size: 20pt;
    margin: 40px 20px;
}

.btnoverride{
    background-color: lightseagreen;
    color: white;
}

.btnoverride:hover{
    box-shadow: 2px 2px 2px gray;
    color: white;
    font-weight: bold;
}

.btnoverride:active{
    border: gray;
    color: white;
    font-weight: bold;

}

.space{
    margin:10px;
}

@media(min-width: 992px) {
    .jumbotron h1{
        font-size: 60pt;
    }
}

#pinkjumbo{
    background-color:lightpink;
    border-radius: 25px;
    color: black;
}

@media(max-width: 576px) {
    .nav-item{
        display: none;
    }
}
